<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="/images/inc.png"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1 style="text-align: center;">Login</h1>
         {{#if status}}
              <p class="text-danger text-center">Incorrect Username or password</p>
            {{/if}}
        <form action="/login" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input required type="text" placeholder="Enter Username" name="name" id="form1Example13" class="form-control form-control-lg" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input required name="password" placeholder="Enter Password" type="password" id="form1Example23" class="form-control form-control-lg" />
  
          </div>

          

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #000000;" href="/auth/github"
            role="button">
            <i class="fa-brands fa-github"></i>&nbsp;Continue with Github
          </a>
        </form>
      </div>
    </div>
  </div>
</section>